/* _header.scss */
@use '../base/typography';

.header {
  text-align: center;
  font-family: 'Decovar Alpha Regular24';
  display: grid;
  gap: var(--size-1);
  place-items: center;

  &__title {
    font-size: 40px;
    line-height: 32px;
    letter-spacing: 0.194em;
    font-weight: 900;
    font-variation-settings: "TRME" 0, "TRMG" 512, "TRMB" 1000, "TRMF" 0, "BLDB" 0, "BLDA" 0, "TRMD" 0, "TRMC" 1000, "SKLD" 0, "TRML" 369, "SKLA" 0, "TRMK" 0, "WMX2" 1000, "TRMA" 0, "SKLB" 0;
  }

  &__subtitle {
    font-size: 35px;
    line-height: 62px;
    font-variation-settings: "BLDA" 0, "TRMD" 765, "TRMC" 1000, "SKLD" 91, "TRML" 1000, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 1000, "TRMA" 1000, "SKLB" 0, "TRMG" 4, "TRME" 456;
    letter-spacing: 0.233em;
  }

  &__author {
    font-size: calc(var(--size-fluid-1) * 2);
    line-height: var(--font-lineheight-4);
    font-style: italic;
    font-variation-settings: 'TRMC' 830;
    letter-spacing: 0.099em;
  }

  &__image {
    max-width: var(--size-14);
  }
}